<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tm.mapper.UserRoleMapper">

    <select id="getByRoleId" resultType="Integer">
        select * from a_user_role where user_id = #{id}
    </select>

    <insert id="insertData">
        insert into a_user_role (
            user_id,
            role_id
        )values
            <foreach collection="vo.allocRoleIds" separator="," item="rid">
                (#{vo.userId},#{rid})
            </foreach>
    </insert>

</mapper>
